[submodule "src/opencl-headers"]
	path = src/opencl-headers
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
[submodule "src/clap"]
	path = src/clap
	url = https://github.com/WLFGRLDRT/zig-clap.git
	branch = master
